.footer-bottom {
  background-color: #002529;
  padding: 50px 0;
}

.footer-bottom__container {
  display: flex;
  align-items: center;
  width: 100%;
  align-self: flex-end;
  // justify-content: space-between;
}

.footer__logo-and-footer__menu {
  max-width: 160px;
}

.footer__logo-link {
  display: block;
  margin-bottom: 25px;
}

.footer__menu {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  margin-right: 40px;
  justify-content: center;
}

.footer__item:last-child {
  margin: 0;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  &:hover {
    color: $hover-color;
  }
}

.footer__address, .copyright {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  margin-right: auto;
  margin-left: 125px;
}

.footer__address {
  max-width: 210px;
}

.footer_acons {
  margin-left: auto;
  text-align: right;
  max-width: 300px;
}

.icons__wrapper {
  text-align: right;
}

.footer-icon {
  display: inline-block;
  transition: color 0.3s ease;
  &:hover {
    color: $hover-color;
  }
}

.footer-icon:last-child {
  margin-right: 0;
}

.footer__left-wrapper {
  display: flex;
}

.icon-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  margin-right: 16px;
}

.icon-link:last-child {
  margin-right: 0;
}



@media only screen and (max-width: 880px) {
  .footer__logo-link {
    margin-bottom: 53px;
  }

  .footer-bottom__container {
    display: block;
  }

  .footer__address {
    margin-right: 0;
    margin-left: auto;
  }

  .footer__acons {
    display: flex;
    margin-top: 30px;
  }

  .copyright {
    margin-right: 0;
    margin-left: auto;
  }

  .icons__wrapper {
    text-align: left;
  }
}

@media only screen and (max-width: 500px) {
  .footer-bottom__container {
    display: block;
    text-align: center;
  }

  .footer__left-wrapper {
    display: block;
    // text-align: center;
    // margin-right: auto;
    // margin-left: auto;
  }

  .footer__logo-and-footer__menu {
    display: block;
    // text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__address {
    margin-top: 25px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto  ;
  }

  .footer__acons {
    display: block;
    margin-top: 40px;
  }

  .icons__wrapper {
    text-align: center;
  }
}